# Entorno de ejecución: dev | qa | pr
ENV=dev

# Resend API Key para envío de correos
RESEND_API_KEY=re_tu_clave_de_desarrollo_aqui

# AdMob App ID (Requerido para inicializar AdMob en Android/iOS)
ADMOB_APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713
ADMOB_APP_ID_IOS=ca-app-pub-3940256099942544~1458002511

# AdMob Banner Unit IDs para Producción (ENV=pr)
ADMOB_BANNER_ID_ANDROID_PR=ca-app-pub-XXXXXXXXXXXXXXXX/YYYYYYYYYY
ADMOB_BANNER_ID_IOS_PR=ca-app-pub-XXXXXXXXXXXXXXXX/ZZZZZZZZZZ
